.header__lang-link {
  color: white;
  text-decoration: none;
  transition: opacity 0.3s;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  padding-bottom: 6px;
  margin-right: 18px;
}

.header__lang-link:last-child {
  margin-right: 0;
}

.header__lang-link:hover{
  opacity: 0.8;
}

@media (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 8px;
  }
}


