.place__title {
  margin:0;
  margin-bottom: 48px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  max-width: 460px;
  /* white-space: pre-line; */
}

@media screen and (max-width: 1025px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 810px) {
  .place__title {
    max-width: 340px;
    font-size: 42px;
    line-height: 46px;
    width: 45.5%;
    /* or 110% */
  }
}

@media screen and (max-width: 767px) {
  .place__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
    margin-left: 16px;
    margin-bottom: 32px;
    white-space: normal;
    width: 100%;
  }
}
