.lead {
  /* margin-right: auto;
  margin-left: auto;
  margin-top: 56px; */
  max-width: 984px;
  margin: 56px auto 0;
  max-height: 1005px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
