.header {
  display: flex;
  justify-content: space-between;
  padding: 28px 48px 0;
}

@media (max-width: 1023px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 16px 16px 0;
  }
}

/* @media (min-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-between;
        border: 1px solid green;
        padding: 0 48px;
    }
}

@media (max-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-between;
        border: 1px solid blue;
        padding: 0 3.7%;
    }
}

@media  (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 24px;
        border: 1px solid orange;
    }
}

@media (max-width: 425px)  {
    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        border: 1px solid red;
    }
} */
