.footer__link {
    color: white;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    /* identical to box height, or 112% */
    margin-right: 18px;
    transition: opacity 0.3s;
}

.footer__link:hover{
    opacity: 0.7;
}

@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
        margin-left: 16px;
        margin-bottom: 32px;
    }
}

