.place__paragraph {
  margin:0;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  max-width: 484px;
  min-width: 0;
  /* min-height: 0; */
  /* overflow: hidden; */
}

.place__paragraph:nth-child(2n) {
  margin-top: 26px;
}


@media screen and (max-width: 1025px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 910px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26px;
  }
  .place__paragraph:nth-child(2n) {
    margin-top: 25px;
}
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    max-width: 288px;
    margin: 0 auto;
    line-height: 26.08px;
    /* white-space: pre-line; */
  }
  .place__paragraph:nth-child(2n) {
    margin-top: 25px;
  }
}
