.footer__copyright {
    margin: 0;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
}

@media screen and (max-width: 767px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
        margin-left: 16px;
        margin-top: 16px;
    }
}
