.intro__text {
    margin:0;
    margin-top: 40px;
    margin-bottom: 33px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    color: #FFFFFF;
}