.lead__subtitle {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  color: #FFFFFF;
  text-align: center;
  max-width: 640px;
  margin: 32px auto 0;
  white-space: pre-line;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }
}


/* @media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
    }
} */
