.place {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}

.place:last-child{
    margin-bottom: 92px;
}

.place:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media screen and (max-width: 767px) {
    .place {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}
