.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  text-transform: uppercase;
}

@media screen and (max-width: 767px)  {
  .place__url-heading {
    margin-left: 16px;
  }
}

