 .cover__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../images/cover-trains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 740px;
  color: white;
  text-decoration: none;
  position: relative;
  z-index: 0;
}

.cover__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
  transition: opacity .3s;
}

.cover__item:hover::before {
  opacity: .8;
}

@media screen and (max-width: 1184px)  {
  .cover__item {
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__item {
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover__item {
    min-height: 200px;
  }
}
